.card {
  background-color: rgb(36, 34, 34);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.pimg {
  width: 95%;
  border: 3px solid rgb(134, 133, 133);
}
.tech {
  color: rgb(188, 184, 184);
  font-size: smaller;
}
