.navbar {
}
.text{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.ul {
  list-style: none;
}
.ul li {
  margin: 1rem;
}
ul li a {
  color: white;
  text-decoration: none;
}
