.sidebar {
  background-color: rgb(36, 34, 34);
  box-shadow: rgba(63, 63, 64, 0.761) 0px 1px 2px 0px,
    rgba(68, 68, 68, 0.714) 0px 2px 6px 2px;
  font-family: "Verdana, Geneva, Tahoma, sans-serif ";
  position: sticky;
  top: 40px;
  height: 100vh;
  overflow-y: auto;
}
.myimg {
  width: 18vh;
  border-radius: 50%;
  object-fit: cover;
  height: 18vh;
}
.job {
  font-size: 0.9rem;
}
.logo {
  height: 4rem;
  width: 55px;
  color: blueviolet;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: relative;
    top: 0;
    overflow-y: hidden;
    height: auto;
    padding: 1rem;
  }
  .myimg {
    background-size: contain;
  }
}
